<p class="spaced-between-container">
<!--  <span matTooltip="This is the unique identifier of this cell. Make sure it's different from all others but use only letters and underscores ('_') to define it."
        [matTooltipShowDelay]="SHOW_DELAY"
        [matTooltipPosition]="POSITION">
    <span>
      id
    </span>
    <br>
    <input *ngIf="!checkbox.immutable"
           class="mid-input"
           autocomplete="off"
           type="text"
           [(ngModel)]="checkbox.id"
           (change)="onIdChange()">
    <span *ngIf="checkbox.immutable">
      {{ checkbox.id }}
    </span>
  </span>-->
  <span matTooltip="When a new player registers you will receive their answer to this checkbox under this identifier."
        [matTooltipShowDelay]="SHOW_DELAY"
        [matTooltipPosition]="POSITION">
    <span>
      Email identifier
    </span>
    <br>
    <input *ngIf="!checkbox.immutable"
           class="mid-input"
           autocomplete="off"
           type="text"
           [(ngModel)]="checkbox.name"
           (change)="onNameChange()">
    <span *ngIf="checkbox.immutable">
      {{ checkbox.name }}
    </span>
  </span>
  <span matTooltip="This will be the default value of the checkbox in the generated form."
        [matTooltipShowDelay]="SHOW_DELAY"
        [matTooltipPosition]="POSITION">
    <span>
      Checked
    </span>
    <br>
    <input type="checkbox" [(ngModel)]="checkbox.checked">
  </span>
  <span matTooltip="If a checkbox is required then a player will not be allowed to register unless the checkbox is first marked as checked."
        [matTooltipShowDelay]="SHOW_DELAY"
        [matTooltipPosition]="POSITION">
    <span>
      Required
    </span>
    <br>
    <input type="checkbox" [(ngModel)]="checkbox.required">
  </span>
</p>
