<app-tournament-name *ngIf="editing_step===0"
                     [tour_config]="tour_config"
                     [title_block]="title_block"
                     (tour_name_change)="onTourNameChange($event)"
                     (prev_step)="changeEditingStep(-1)"
                     (next_step)="changeEditingStep(1)">

</app-tournament-name>

<app-tournament-title *ngIf="editing_step===1"
                      [tour_config]="tour_config"
                      [title_block]="title_block"
                      (tour_title_change)="onTourTitleChange($event)"
                      (prev_step)="changeEditingStep(-1)"
                      (next_step)="changeEditingStep(1)">

</app-tournament-title>

<app-price-editing *ngIf="editing_step===2"
                   [tour_config]="tour_config"
                   [price_dropdown]="price_dropdown"
                   (prev_step)="changeEditingStep(-1)"
                   (next_step)="changeEditingStep(1)">

</app-price-editing>

<app-form-editing *ngIf="editing_step===3"
                  [edit_mode]="edit_mode"
                  [custom_block]="custom_block"
                  [selected_cell]="selected_cell"
                  [selected_span]="selected_span"
                  (edit_mode_change)="updateEditMode($event)"
                  (custom_block_change)="onCustomBlockChange($event)"
                  (title_block_change)="onTitleBlockChange($event)"
                  (prev_step)="changeEditingStep(-1)"
                  (next_step)="changeEditingStep(1)">

</app-form-editing>

<app-tournament-director *ngIf="editing_step===4"
                         [tour_config]="tour_config"
                         (tour_director_change)="onTDChange($event)"
                         (prev_step)="changeEditingStep(-1)"
                         (next_step)="changeEditingStep(1)">
</app-tournament-director>

<app-tournament-director-email *ngIf="editing_step===5"
                               [tour_config]="tour_config"
                               (td_email_change)="onTDEmailChange($event)"
                               (prev_step)="changeEditingStep(-1)"
                               (next_step)="changeEditingStep(1)">

</app-tournament-director-email>

<app-draw-master-email *ngIf="editing_step===6"
                       [tour_config]="tour_config"
                       (dm_email_change)="onDMEmailChange($event)"
                       (prev_step)="changeEditingStep(-1)"
                       (next_step)="changeEditingStep(1)">
</app-draw-master-email>

<app-confirm *ngIf="editing_step===7"
             [tour_config]="tour_config"
             (prev_step)="changeEditingStep(-1)"
             (finish)="onFinish()">
</app-confirm>
